<div [ngClass]="alert" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<br /><br />

<h3 [ngClass]="{ 'text-danger': properties.danger, 'text-info': !properties.danger }">Hola mundo</h3>

<button
  type="button"
  class="btn btn-danger"
  (click)="properties.danger = !properties.danger"
  [ngClass]="{ 'btn-danger': properties.danger, 'btn-info': !properties.danger }"
>
  Change
</button>

<br /><br />

<h3>{{ 'STRINGS.PROCESS' | translate }}</h3>
<button type="button" name="button" class="btn btn-primary" (click)="execute()" [disabled]="loading">
  <i [ngClass]="{ 'fa fa-save': !loading, 'fa fa-sync fa-spin': loading }"></i>
  <span *ngIf="!loading">{{ 'STRINGS.SAVE' | translate }}</span>
  <span *ngIf="loading">{{ 'STRINGS.WAITING' | translate }}</span>
</button>
